/* Katelyn Miller
Created: 6/13/19
updated:
*/

header, footer {
    font-family: impact;
    color: #484c7f;
    background-color:#95adbe;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

header {
    font-size: 5em;
    margin-bottom: 30px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div[id="description"]{
    font-size: 14pt;
    text-align: center;
}
div[id="rest"] {
    background-color: #f1d4d4;
}

div[class="jumbotron"]{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
nav {
    border-top: 3px dashed #484c7f;
    border-bottom: 3px dashed #484c7f;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}
nav a{
    background-color: #484c7f;
    color: #ffeee6;
    border: thick solid #484c7f;
    display: block;
    width: 20%;
    margin: 10px;
} 
    /* visted = new color
    active = not underlined
    */
nav a:hover {
    font-weight: bold;
}

nav a:active {
    text-decoration: none;
}

nav a:visited {
    color: #f1d4d4;
}

.carousel img {

    margin: auto;

}
